/*Color variables for the entirety of the webpage. To change the color of a certain portion of the webpage, simply change the variable HEX value*/
:root {
    --main-background_color:#f1f2f2;        /*Main body background*/

    --top-bar_color:white;                  /*The bar located at the top of the page*/

    --navbar-background_color:#1D3557;      /*The navigation bar background*/
    --navbar-title_color:#F1FAEE;           /*The navigation bar title*/
    --navbar-body_color:#F1FAEE;            /*The navibation bar body text*/

    --section-background_color:white;       /*The background color of each section*/

    --section_color1:#B61624;               /*The foreground color of the 1st and 3rd sections*/
    --section-title_color:#F1FAEE;          /*The title color of the 1st and 3rd sections*/
    --section-body_color:#F1FAEE;           /*The main body text color of the 1st and 3rd sections*/

    --section_color2:#A8DADC;               /*The foreground color of the 2nd and 4th sections*/
    --section-title_color2:#1D3557;         /*The title color of the 2nd and 4th sections*/
    --section-body_color2:#1D3557;          /*The main body text color of the 2nd and 4th sections*/

    --contact-text-color:#1D3557;           /*The text links for the contact section*/
}

html {
  scroll-behavior: smooth;                    /*Makes the navigation between sections a smooth scroll*/     
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 760;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}


.display_flex_row {
    display:flex;
    flex-direction:row;
}

.display_flex_column {
    display:flex;
    flex-direction:column;
}

.text-body {
    font-size:1.2em;
}

/*The content sections of the main portion of the webpage*/
/*----------------------------------------*/
.section {
    --section-height: 33.33;

    flex:0 0 auto;
    min-height:calc(var(--section-height) * 1vh);

}

.section-body {

    margin:2%;
    border-radius:5rem;
    padding:min(3rem, 8%);

    background-color:var(--section-background_color);
    /*filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));*/
}

.section_interior { 
    background-color:var(--section_color1);
}

.section_interior2 { 
    background-color:var(--section_color2);
}

.section-title {
    font-size:5em;
    color:var(--section-title_color);
    font-family:"roboto";
}

.section-title2 {
    font-size:5em;
    color:var(--section-title_color2);
    font-family:"roboto";
}

.section-body-text {
    color:var(--section-body_color);
    font-family:"roboto";
}

.section-body-text2 {
    color:var(--section-body_color2);
    font-family:"roboto";
}
/*----------------------------------------*/


/*The main body for the entire web page*/
/*----------------------------------------*/
.main_body {
    min-height:100vh; /*At minimum, it is as tall as the entire webpage*/
    width:100%;

    background-color:var(--main-background_color);
}
/*----------------------------------------*/

/*Navigation Bar Elements*/
/*----------------------------------------*/
/*The body for the navigation bar*/
.navbar_body {
    width:20%;
    max-width:20%;
    height:100vh;

    position:fixed;
    background-color:var(--navbar-background_color);
}

.navbar_section_center {
    justify-content:center;
    align-items:center;
    padding-left:10%;
    padding-right:10%;

    min-height:33.33%;
    max-height:40%;
}

.navbar_title {
    font-size:5em;
    color:var(--navbar-title_color);
    text-align:center;
    font-family:"roboto";
}

.navbar-text-body {
    text-align:center;
    font-size:1.2em;
    color:var(--navbar-body_color);
    font-family:"roboto";
    
}

.navbar-text-body-button {
    text-align:center;
    font-size:2em;
    color:var(--navbar-body_color);

    transition: transform 250ms ease;
    transform: scale(1.0);
    font-family:"roboto";
}

.navbar-text-body-button:hover {
     transform: scale(1.2);
}

.navbar_img {
    height:50%;
    aspect-ratio:1/1;
    border-radius:50%;
}
/*----------------------------------------*/

/*The body for the main content*/
.content_body {
    width:80%;
    max-width:80vw;

    margin-left:20%;
    overflow:auto;
}

/*top bar*/
/*----------------------------------------*/
.top-bar_body {
    background-color:var(--top-bar_color);
}
/*----------------------------------------*/

/*about-me elements*/
/*----------------------------------------*/
.about-me_body {
    justify-content:center;
}

.about-me_text {
    width:70%;
    gap:5%;
    padding:2%;
}

.about-me_text-title {

}

.about-me_text-block {
    flex: 1 0 auto;
    font-size:1.5em;
}

.about-me_img {
    width:30%;
}
/*----------------------------------------*/

/*education elements*/
/*----------------------------------------*/
.education_body {

}

.education_title {
    padding-left:1%;
}

.education_text {
    flex:1 0 auto;

    justify-content: space-evenly;
}

.education_text-block {
    width:30%;
    align-items:center;
    overflow:hidden;
    border-radius:5rem;
    background-color:white;
}

.education_text-block-title {
    height:10%;
    align-content:center;
    text-align:center;
    font-size:3em;
}
.education_text-block-subtitle {
    font-size:1.2em;
}

.education_text-block-img {
    height:50%;
    align-content:center;
    align-items:center;
}

.education_text-block-text {
    flex:1 0 auto;
    font-size:1.5em;
    text-align:justify;
    padding:5%;
}
/*----------------------------------------*/

/*career elements*/
/*----------------------------------------*/
.career_body {

}

.career_img {
    width:30%;
    justify-content:center;
    overflow:hidden;
}

.career_text {
    width:70%;
    padding:2%;
}

.career_text-title {

}

.career_text-block {
    flex:1 0 auto;
    gap:5%;
}

.career_text-block-img {
    width:20%;
    height:20%;
    float:right;
}

.career_text-point-title {
    font-size:2em;
}

.career-text_point {

}
/*----------------------------------------*/

/*work elements*/
/*----------------------------------------*/
.work_body {

}

.work_text {
    width:70%;
    padding:2%;
}

.work_text-title {

}

.work_text-block {
    flex:1 0 auto;
    padding-left:3%;
    gap:5%;
}

.work_img {
    width:30%;
    max-height:100%;
}

.work_text-block-img {
    width:20%;
    height:20%;
    float:left;
}

.work_text-point-title {
    font-size:2em;
}

.work_text-point {

}
/*----------------------------------------*/

/*contact elements*/
/*----------------------------------------*/
.contact_body {
    min-height: 10vh;
    background-color: var(--top-bar_color);
}

.contact-text {
    flex:1 0 auto;

    justify-content:center;
    align-items:center;
}

.contact-text_link {
    color:var(--contact-text-color);
    font-family:"roboto";
    font-size:1.5em;

    transition: transform 250ms ease;
    transform: scale(1.0);
}

.contact-text_link:hover {
     transform: scale(1.2);
}


.contact_text-img {
    height:80%;
    width:20%
}
/*----------------------------------------*/
