* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;  
  color: inherit;         
}

.mainbody {
    width:100%;
    height:100%;
    background-color: #5a8a81;
}

/* The main navigation bar that will always be present on the left-side of the screen*/
.mainNavbar {
    height:100vh;
    width:400px;    /*Change the padding of the sectionParent whenver this value is changed*/
    padding:50px;

    position:fixed;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;

    background-color:blue; /*I AM FOR TESTING*/
}

/* The main title at the left-side of the navbar*/
.navTitle {
    font-size:40px;
    color:white;
}

/* Navigation links in the center of the navbar. Applies to all buttons*/
.navLink {
    display:flex;
    flex-direction:column;
    
    font-size:20px;
    color:white;

    gap:150px;
}

/* The contact link at the right-side of the navbar*/
.navButton {
    border: 2px solid;
    border-radius:10px;

    padding:5px;

    font-size:20px;
    background-color:white;
    color:rgb(6, 15, 11);
}

.sectionsParent{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:calc(100% - 400px);   /*Change the size of the mainNavBar whenver this value is changed*/
    min-height:100vh;

    margin-left:400px;
    padding:100px;

    gap: 50px;
}

/*The portion of the section that will be split into two parts: a body of text and an image*/
.sectionDivide {
    display:flex;
    flex-direction:row;

    justify-content:space-between;
}

.sectionAboutMe {
    width:100%;
    border:2px solid red;
    
    min-height: 100px;
}

.sectionEducation {
    width:100%;
    border:2px solid orange;
    
    min-height: 100px;
}

.sectionCareer {
    width:100%;
    border:2px solid yellow;
    
    min-height: 100px;
}

.sectionProjects {
    width:100%;
    border:2px solid green;
    
    min-height: 100px;
}

.sectionContact {
    width:100%;
    border:2px solid blue;
    
    min-height: 100px;
}